body {
    color: rgb(0, 0, 0);
    background: rgb(161, 127, 14);
    margin: 0px;

}

header {
    border-bottom: solid 2px rgb(147, 255, 6);
    padding: 20px;
    font-size: 50px;
    color: rgb(0, 0, 0);
    
}

section {
	background-color: rgb(20, 40, 120);
	padding-bottom: 50px;
	padding-top: 50px;
	display: flex;
	justify-content: center;
}
.chamada {
    background: rgb(184, 156, 213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 35px;
}

p {
    font-size: 20px;
}


.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 40px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}

h2{
    font-size: 30px;
}
